.feature {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: 4rem 1fr;
  column-gap: 2rem;
  row-gap: 1rem;

  .iconContainer {
    position: relative;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 40%;
      height: 100%;
      color: #fff;
    }
  }

  .header {
    display: flex;
    align-items: center;
    font-size: 1.45rem;
    color: var(--typography);
    font-weight: 600;
  }

  .content {
    grid-column: 2;
  }
}
