.container {
  display: flex;

  .imageContainer {
    position: relative;
    flex: 0 0 150px;
    width: 150px;
    height: 0;
    padding-top: 150px;
    border-radius: 50%;
    overflow: hidden;
  }

  .textContainer {
    padding-left: 2rem;

    .title {
      color: var(--typography);
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .subtitle {
      margin-bottom: 0.75rem;

      .date {
        margin-left: 0.75rem;
        color: var(--typography400);
      }

      .category {
        font-weight: 600;
        color: var(--typography);

        &:hover {
          color: var(--primary);
        }
      }
    }

    .tagContainer {
      margin-bottom: 1.5rem;
      display: flex;
      column-gap: 0.5rem;

      .tag {
        font-size: 0.8rem;
        padding: 0.25rem 0.75rem;
        background-color: #eee;
        border-radius: 9999px;
        color: var(--typography);

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .preview {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  @media (max-width: 575px) {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .imageContainer {
      margin-bottom: 2rem;
    }

    .textContainer {
      padding-left: unset;

      .tagContainer {
        justify-content: center;
      }
    }
  }
}
